<html>

    <head>
        <title>keyctrl</title>
        
        <style type="text/css">
            table {border: 1;}
            td {width: 8em; height: 4em;}
            .half td {width: 4em; height: 2em;}
            input {width: 100%; height: 100%}
            input[type="checkbox"] {width: 50%; height: 100%}
        </style>
        
        <script type="text/javascript">
        //通用的发送函数，发送数组参数到指定的路径
        function send(path, args)
        {
            var xmlhttp=new XMLHttpRequest();
            var str = "";
            for (k in args)
            {
                if (str)
                    str = str + "&";
                str = str + k + "=" + args[k];
            }
            xmlhttp.open("GET",path+"?"+str,true);
            xmlhttp.send(null);
        }        

        function sendkey(key)
        {
            ctrl  = document.getElementById("id_ctrl").checked;
            alt   = document.getElementById("id_alt").checked;
            shift = document.getElementById("id_shift").checked;
            var args = new Array();
            args["key"] = key;
            args["ctrl"] = ctrl;
            args["alt"] = alt;
            args["shift"] = shift;
            send("key", args)
        }
        
        function sendcmd(cmd)
        {
            var args = new Array()
            args["cmd"] = cmd
            send("cmd", args)
        }

        </script>
    </head>

    <body>
        <table>
            {% for r in Fn %}
            <tr>
                {% for n in r %}
                <td><input type="button" value="F{{n}}" onclick="sendkey('F{{n}}')" ></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        
        
        <table>
            <tr>
                <td></td>
                <td><input type="button" value="上" onclick="sendkey('UP')" ></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="button" value="左" onclick="sendkey('LEFT')" ></td>
                <td><input type="button" value="下" onclick="sendkey('DOWN')" ></td>
                <td><input type="button" value="右" onclick="sendkey('RIGHT')" ></td>
            </tr>
        </table>
        
        <table class="half">
            <tr>
                <td><input type="checkbox" class="checkbox" id="id_ctrl"></td><td>Ctrl</td>
                <td><input type="checkbox" class="checkbox" id="id_alt"></td><td>Alt</td>
                <td><input type="checkbox" class="checkbox" id="id_shift"></td><td>Shift</td>
            </tr>
        </table>        

        <table>
            <tr>
                <td><input type="button" value="Esc" onclick="sendkey('ESC')" ></td>
                <td><input type="button" value="Win" onclick="sendkey('LWIN')" ></td>
                <td><input type="button" value="BackSapce" onclick="sendkey('BACKSPACE')" ></td>
            </tr>
            <tr>
                <td><input type="button" value="Tab" onclick="sendkey('TAB')" ></td>
                <td><input type="button" value="Space" onclick="sendkey('SPACE')" ></td>
                <td><input type="button" value="Enter" onclick="sendkey('ENTER')" ></td>
            </tr>
        </table>
        
        <table>
            <tr>
                <td><input type="button" value="待机" onclick="sendcmd('standby')" ></td>
                <td><input type="button" value="关机" onclick="sendcmd('shutdown')" ></td>
                <td><input type="button" value="重启" onclick="sendcmd('restart')" ></td>
            </tr>
        </table>
        
    </body>
    
</html>
