<html>

    <head>
        <title>keyctrl</title>
        
        <style type="text/css">
            td {width: 200px; height: 100px}
            input {width: 100%; height: 100%}
        </style>
        
        <script type="text/javascript">
        function key(code)
        {
            var xmlhttp;
            xmlhttp=new XMLHttpRequest();
            var url="cmd";
            url=url+"?c="+code;
            xmlhttp.open("GET",url,true);
            xmlhttp.send(null);
        }   
        function cmd(code, ask)
        {
            var xmlhttp;
            xmlhttp=new XMLHttpRequest();
            var url="cmd";
            url=url+"?c="+code;
            xmlhttp.open("GET",url,true);
            xmlhttp.send(null);
        }  
        </script>
    </head>

    <body>
        <table border=1>
            {% for r in Fn %}
            <tr>
                {% for n in r %}
                <td><input type="button" value="F{{n}}" onclick="key('{F{{n}}}')" ></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        
        
        <table border=1>
            <tr>
                <td></td>
                <td><input type="button" value="上" onclick="key('up', false)" ></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="button" value="左" onclick="key('left')" ></td>
                <td><input type="button" value="下" onclick="key('down')" ></td>
                <td><input type="button" value="右" onclick="key('right')" ></td>
            </tr>
        </table>
        
        <table border=1>
            <tr>
                <td><input type="checkbox" value="Ctrl"  onclick="key('{CTRL}')"  ></td>
                <td><input type="checkbox" value="Alt"   onclick="key('{ALT}')"   ></td>
                <td><input type="checkbox" value="Shift" onclick="key('{SHIFT}')" ></td>
            </tr>
        </table>        

        <table border=1>
            <tr>
                <td><input type="button" value="Win" onclick="key('up')" ></td>
                <td><input type="button" value="Esc" onclick="key('up')" ></td>
                <td><input type="button" value="BackSapce" onclick="key('up')" ></td>
            </tr>
            <tr>
                <td><input type="button" value="Tab" onclick="key('left')" ></td>
                <td><input type="button" value="Space" onclick="key('down')" ></td>
                <td><input type="button" value="Enter" onclick="key('right')" ></td>
            </tr>
        </table>
        
        <table border=1>
            <tr>
                <td><input type="button" value="重启" onclick="key('{LWIN}rur{CTRL}')" ></td>
                <td><input type="button" value="关机" onclick="key('{LWIN}ruu{CTRL}"   ></td>
                <td><input type="button" value="休眠" onclick="key('{LWIN}rus{CTRL}"   ></td>
            </tr>
        </table>
        
    </body>
    
</html>
