<html>

    <head>
        <title>keyctrl</title>
        
        <script type="text/javascript">
        function sendcmd(cmd)
        {
            var xmlhttp;
            xmlhttp=new XMLHttpRequest();
            xmlhttp.open("GET","/cmd/" + cmd, true);
            xmlhttp.send();
        }
        </script>
    </head>

    <body>
        <input type="button" value="左" onclick="sendcmd('left')" >
        <input type="button" value="上" onclick="sendcmd('up')" >
        <input type="button" value="下" onclick="sendcmd('down')" >
        <input type="button" value="右" onclick="sendcmd('right')" >
        <input type="button" value="关机" onclick="sendcmd('shutdown')" >
    </body>
    
</html>